.child {
    background: plum;
    width: 50px;
    height: 50px;
}

.child-inline {
    display: inline;
}

.display-block {
    display: block;
    color: white;
    background: #0b6975;
}

.display-inline {
    display: inline-block;
    color: white;
    background: #0b6975;
}

.display-flex {
    display: flex;
    color: white;
    background: #0b6975;
}

.task-container {
    display: block;
    margin: 20px 0;
    background: #063d44;
}

.task-child {
    background: #55919b;
    margin: 30px 0;
    padding: 20px;
    color: white;
}

.task-child + .task-child {
    background: #ff5a00;
    margin: 15px 0;
}