h1 {
    font-family: 'Unbounded', cursive;
    font-size: 48px;
}

h2 {
    font-family: 'Unbounded', cursive;
    font-size: 36px;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 0;
    height: 80%;
    font-size: 24px;
    font-family: 'Arial', sans-serif;
}

.advice {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 40px;
    border-radius: 10px;
    background: #2e2e38;
    color: white;
}

.bulb {
    font-size: 32px !important;
}

.advice-content {
    display: flex;
    align-items: baseline;
    white-space: nowrap;
    flex-wrap: wrap;
}

.text {
    display: flex;
    gap: 30px;
    align-items: baseline;
}

code {
    font-size: 32px;
    white-space: nowrap;
    padding: 0 10px;
}

.small {
    position: absolute;
    font-size: 12px;
    bottom: 0;
}

.image-container {
    display: flex;
    align-items: center;
    gap: 30px;
}

.image {
    width: 500px;
}

.picture-meme {
    background-image: url("assets/meme.png");
    width: 702px;
    height: 265px;
}

th {
    text-align: start;
}

.list {
    display: flex;
    flex-direction: column;
    padding: 20px;
    counter-reset: li;
    list-style: none;
    gap: 10px;
}

li {
    font-family: 'Unbounded', cursive;
    cursor: pointer;
}

li a {
    text-decoration: none;
    transition: 0.3s all linear;
    color: #2e2e38;
}

li a:hover,
li a:visited {
    color: #0b6975;
}

.table {
    border-collapse: collapse
}

.table th,
.table td {
    padding: 10px;
    border-bottom: 1px solid gray;
}

.table th {
    border-bottom: 2px solid gray;
}

.block {
    position: absolute;
    top: 50%;
    left: 300px;
    display: flex;
    align-items: center;
    text-align: center;
    width: 400px;
    height: 400px;
    margin: 20px;
    padding: 30px;
    transform: translateY(-50%);
    background: #0b6975;
    color: white;
    border: 10px solid plum;
    z-index: 100;
    cursor: pointer;
}

.hidden-text {
    position: absolute;
    top: 50%;
    left: 300px;
    transform: translateY(-50%);
    transition: 0.3s all linear;
    opacity: 0;
    pointer-events: none;
}

.block:hover ~ .hidden-text {
    opacity: 1;
    left: 820px;
}

.block > h1 {
    user-select: none;
}

.units {
    height: 50px;
    background: #0b6975;
    color: white;
}