h1 {
    font-family: 'Unbounded', cursive;
    font-size: 48px;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 0;
    height: 80%;
    font-size: 24px;
    font-family: 'Arial', sans-serif;
}

.advice {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 40px;
    border-radius: 10px;
    background: #2e2e38;
    color: white;
}

.bulb {
    font-size: 32px!important;
}

.advice-content {
    display: flex;
    align-items: baseline;
    white-space: nowrap;
    flex-wrap: wrap;
}

.text {
    display: flex;
    gap: 30px;
    align-items: baseline;
}

code {
    font-size: 32px;
    white-space: nowrap;
    padding: 0 10px;
}

.small {
    position: absolute;
    font-size: 12px;
    bottom: 0;
}

.image-container {
    display: flex;
    align-items: center;
    gap: 30px;
}

.image {
    width: 500px;
}

.picture-meme {
    background-image: url("assets/meme.png");
    width: 702px;
    height: 265px;
}

th {
    text-align: start;
}