h1 {
    font-family: 'Unbounded', cursive;
    font-size: 48px;
}

h2 {
    font-family: 'Unbounded', cursive;
    font-size: 36px;
}

.container,
.container-part {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 0;
    height: 80%;
    font-size: 24px;
    font-family: 'Arial', sans-serif;
}

.advice {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 40px;
    border-radius: 10px;
    background: #2e2e38;
    color: white;
}

.bulb {
    font-size: 32px !important;
}

.advice-content {
    display: flex;
    align-items: baseline;
    white-space: nowrap;
    flex-wrap: wrap;
}

.advice-content > a,
.advice-content > a:visited {
    margin-left: 20px;
    color: white;
}

.text {
    display: flex;
    gap: 30px;
    align-items: baseline;
}

code {
    font-size: 32px;
    white-space: nowrap;
    padding: 0 10px;
}

.small {
    position: absolute;
    font-size: 12px;
    bottom: 0;
}

.slide1 .container {
    flex-direction: row;
}

.slide1 img {
    width: 300px;
    height: fit-content;
}

.image-container {
    display: flex;
    align-items: center;
    gap: 30px;
}

.image {
    width: 500px;
}

.picture-meme {
    background-image: url("assets/meme.png");
    width: 702px;
    height: 265px;
}

th {
    text-align: start;
}

.slide6 .image-meme {
    position: absolute;
    right: 50px;
}

.list {
    display: flex;
    flex-direction: column;
    padding: 20px;
    counter-reset: li;
    list-style: none;
    gap: 10px;
}

li {
    font-family: 'Unbounded', cursive;
    cursor: pointer;
}

li a {
    text-decoration: none;
    transition: 0.3s all linear;
    color: #2e2e38;
}

li a:hover,
li a:visited {
    color: #0b6975;
}

.table {
    border-collapse: collapse
}

.table th,
.table td {
    padding: 10px;
    border-bottom: 1px solid gray;
}

.table th {
    border-bottom: 2px solid gray;
}

.block {
    position: absolute;
    top: 50%;
    left: 300px;
    display: flex;
    align-items: center;
    text-align: center;
    width: 400px;
    height: 400px;
    margin: 20px;
    padding: 30px;
    transform: translateY(-50%);
    background: #0b6975;
    color: white;
    border: 10px solid plum;
    z-index: 100;
    cursor: pointer;
}

.hidden-text {
    position: absolute;
    top: 50%;
    left: 300px;
    transform: translateY(-50%);
    transition: 0.3s all linear;
    opacity: 0;
    pointer-events: none;
}

.block:hover ~ .hidden-text {
    opacity: 1;
    left: 820px;
}

.block > h1 {
    user-select: none;
}

.units {
    height: 50px;
    background: #0b6975;
    color: white;
}

.big-button {
    position: relative;
    border: none;
    padding: 40px;
    background: #0b6975;
    color: white;
    transition: 0.3s all ease-in-out;
    border-radius: 10px;
    font-family: 'Unbounded', cursive;
    font-size: 48px;
    cursor: pointer;
}

.big-button:hover {
    background: #55919b;
}

.big-button::after {
    content: "";
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 10px;
    background: #063d44;
    transition: 0.3s all ease-in-out;
}

.big-button:hover::after {
    width: 100%;
}

.big-button:active {
    background: #063d44;
}

.list-selectors {
    margin-top: 20px;
    margin-left: 80px;
    font-size: 48px;
}

.list-selectors > li:last-child {
    color: plum;
}

.list-selectors > li:nth-child(2) {
    color: #0b6975;
}

.list-selectors > li:nth-child(even) {
    text-decoration: underline;
}

.list-selectors > li:nth-child(2)::after {
    content: "(комбинация :nth-child(2) и :nth-child(even))";
    color: #0b6975;
    opacity: 0;
    font-size: 20px;
    margin-left: 40px;
    transition: 0.3s all ease-in-out;
}

.list-selectors > li:nth-child(4)::after {
    content: "(:nth-child(even))";
    color: #0b6975;
    opacity: 0;
    font-size: 20px;
    margin-left: 40px;
    transition: 0.3s all ease-in-out;
}

.list-selectors > li:nth-child(5)::after {
    content: "(:last-child)";
    color: #0b6975;
    opacity: 0;
    font-size: 20px;
    margin-left: 40px;
    transition: 0.3s all ease-in-out;
}

.list-selectors > li:nth-child(2):hover::after,
.list-selectors > li:nth-child(4):hover::after,
.list-selectors > li:nth-child(5):hover::after {
    opacity: 1;
}

.context-block {
    position: relative;
    z-index: 1;
    width: 150px;
    height: 150px;
    padding: 15px;
    border: 5px solid;
    background-color: #2E9AFF;
}

.context-child {
    width: 50px;
    height: 50px;
    border: 1px dashed;
    background-color: #F498AD;
}

.red {
    margin-top: -25px;
    margin-left: 25px;
    background-color: #cd445d;
}

.yellow {
    position: relative;
    z-index: -9999999;
    margin-top: -25px;
    margin-left: 90px;
    background-color: #FFD829;
}

.context-no-parent {
    margin-top: -70px;
    margin-left: 50px;
    background-color: #F498AD;
}

.position-container {
    position: relative;
    background: #063d44;
    width: 400px;
    height: 500px;
    overflow-y: scroll;
    color: white;
    padding: 20px;
}

.position-child {
    /*position: sticky;*/
    top: 0;
    width: 100%;
    height: 50px;
    background: #55919b;
}